
.body-tbl {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    margin: 25px 10px !important;
}

.text-cent {
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    margin-Top: 40px;
    margin-bottom: 50px;
    /*font-size: 0.9em;*/
    /* font-family: courier;*/
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}



    .styled-table thead tr {
        background-color: darkred;
        color: #ffffff;
        text-align: center;
    }
    /*Moving onto the table cells. Let's space things out a bit: */
    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

    .styled-table tr td:nth-child(1), .styled-table tr th:nth-child(2) {
        text-align: left;
    }

    .styled-table tr td:nth-child(2), .styled-table tr th:nth-child(2) {
        text-align: left;
    }
