@using Engotalk.Model
@model UniversityM
@{
    ViewData["Title"] = "Edit Institute";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";

    string visibility = Model.UniversityType == "University" ? "inline" : "none";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Institute</a></li>
                    <li class="breadcrumb-item active">Edit</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content ">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-lightblue">
                    <div class="card-header">
                        <h3 class="card-title">Update Institute</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Edit">
                        <input type="hidden" asp-for="UniversityId" />

                        <div class="col-md-12">

                            <div class="card-body">

                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <label for="exampleInputEmail1">Type</label>
                                            <span asp-validation-for="Type" class="text-danger"></span>

                                            <select asp-for="Type" type="text" class="form-control">
                                                <option disabled selected> --SELECT-- </option>
                                                <option>Public</option>
                                                <option>Private</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <label for="exampleInputEmail1">University / College Type</label>
                                            <span asp-validation-for="UniversityType" class="text-danger"></span>

                                            <select id="inst_type" asp-for="UniversityType" type="text" class="form-control">
                                                <option disabled selected> --SELECT-- </option>
                                                <option>University</option>
                                                <option>College</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <label for="exampleInputEmail1">Country</label>
                                            <span asp-validation-for="CountryId" class="text-danger"></span>

                                            <select asp-for="CountryId" type="text" class="form-control" asp-items="ViewBag.CountryId">
                                                <option disabled selected> --SELECT-- </option>

                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-8">

                                        <div class="form-group">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <label for="exampleInputEmail1">Institute</label>
                                            <span asp-validation-for="University" class="text-danger"></span>

                                            <input asp-for="University"
                                                   type="text" class="form-control" id="exampleInputEmail1" placeholder="Unviersity / College Name">
                                        </div>

                                    </div>
                                </div>


                                <div class="row">

                                    <div class="col-md-4">

                                        <div class="form-group">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <label for="exampleInputEmail1">Location</label>
                                            <span asp-validation-for="Location" class="text-danger"></span>

                                            <input asp-for="Location"
                                                   type="text" class="form-control" id="exampleInputEmail1" placeholder="Location City">
                                        </div>
                                    </div>
                                    <div class="col-md-4">

                                        <div class="form-group">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <label for="exampleInputEmail1">Established</label>
                                            <span asp-validation-for="Established" class="text-danger"></span>

                                            <input asp-for="Established"
                                                   type="text" class="form-control" id="exampleInputEmail1" placeholder="Established">
                                        </div>

                                    </div>
                                    <div class="col-md-4">

                                        <div class="form-group">

                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <label for="exampleInputEmail1">ExamsAccepted</label>
                                            <span asp-validation-for="ExamsAccepted" class="text-danger"></span>

                                            <input asp-for="ExamsAccepted"
                                                   type="text" class="form-control" id="exampleInputEmail1" placeholder="Exams Accepted">
                                        </div>

                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">
                                                <span class="tf-icons fa fas-save"></span>&nbsp; Update
                                            </button>
                                            <button type="reset" class="btn btn-default">
                                                <span class="tf-icons fas fa-times"></span>&nbsp; Cancel
                                            </button>
                                            <button class="btn btn-outline-info pull-right" asp-action="Index">
                                                <span class="tf-icons fas fa-list-ul"></span>&nbsp; View List
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</section>



@section Scripts{
    <script type="text/javascript">

        $(document).ready(function() {


        })


    </script>


}