@using Engotalk.ViewModel
@{
    ViewData["Title"] = "Department";
    var Model = ViewBag.Departments as List<DepartmentVM>;
}

<style>
    .course-name{
        color:black;
    }
    .course-name:hover{
        color:#fd7e14;
    }
</style>

<!--::review_part start::-->
<section class="special_cource padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <p>Select your goal</p>
                    <h2>Departments</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="whole-wrap mb-3">
    <div class="container box_1170">

        <div class="section-top-border">
            <div class="row">
                @foreach (var group in Model.GroupBy(m => m.Department))
                {

                    <div class="col-md-3 mb-5 mt-sm-30">
                        <h3 class="btn_1 d-block mb-20">
                            @group.Key
                        </h3>
                        <ul class="unordered-list mt-2">
                            @foreach (var item in group)
                            {
                                <li>
                                    <a class="course-name" asp-controller="Home" asp-action="Universities" asp-route-cid="@ViewBag.CountryId" asp-route-course="@item.Course"> @item.Course</a>

                                </li>

                            }
                        </ul>
                    </div>
                }

            </div>
        </div>

    </div>
</div>
<!-- End Align Area -->

<!--::review_part start::-->
<section class="special_cource padding_top mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <p>popular courses</p>
                    <h2>Our Special Lessons</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="single_special_cource">
                    <img src="~/assets/fe/img/special_cource_1.png" class="special_img" alt="">
                    <div class="special_cource_text">
                        <a href="course-details.html" class="btn_4">Web Development</a>
                        <h4>$130.00</h4>
                        <a href="course-details.html">
                            <h3>Web Development</h3>
                        </a>
                        <p>Which whose darkness saying were life unto fish wherein all fish of together called</p>
                        <div class="author_info">
                            <div class="author_img">
                                <img src="~/assets/fe/img/author/author_1.png" alt="">
                                <div class="author_info_text">
                                    <p>Conduct by:</p>
                                    <h5><a href="#">James Well</a></h5>
                                </div>
                            </div>
                            <div class="author_rating">
                                <div class="rating">
                                    <a href="#"><img src="~/assets/fe/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/assets/fe/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/assets/fe/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/assets/fe/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/assets/fe/img/icon/star.svg" alt=""></a>
                                </div>
                                <p>3.8 Ratings</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_special_cource">
                    <img src="~/assets/fe/img/special_cource_2.png" class="special_img" alt="">
                    <div class="special_cource_text">
                        <a href="course-details.html" class="btn_4">design</a>
                        <h4>$160.00</h4>
                        <a href="course-details.html">
                            <h3>Web UX/UI Design </h3>
                        </a>
                        <p>Which whose darkness saying were life unto fish wherein all fish of together called</p>
                        <div class="author_info">
                            <div class="author_img">
                                <img src="~/assets/fe/img/author/author_2.png" alt="">
                                <div class="author_info_text">
                                    <p>Conduct by:</p>
                                    <h5><a href="#">James Well</a></h5>
                                </div>
                            </div>
                            <div class="author_rating">
                                <div class="rating">
                                    <a href="#"><img src="~/assets/fe/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/assets/fe/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/assets/fe/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/assets/fe/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/assets/fe/img/icon/star.svg" alt=""></a>
                                </div>
                                <p>3.8 Ratings</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_special_cource">
                    <img src="~/assets/fe/img/special_cource_3.png" class="special_img" alt="">
                    <div class="special_cource_text">
                        <a href="course-details.html" class="btn_4">Wordpress</a>
                        <h4>$140.00</h4>
                        <a href="course-details.html">
                            <h3>Wordpress Development</h3>
                        </a>
                        <p>Which whose darkness saying were life unto fish wherein all fish of together called</p>
                        <div class="author_info">
                            <div class="author_img">
                                <img src="~/assets/fe/img/author/author_3.png" alt="">
                                <div class="author_info_text">
                                    <p>Conduct by:</p>
                                    <h5><a href="#">James Well</a></h5>
                                </div>
                            </div>
                            <div class="author_rating">
                                <div class="rating">
                                    <a href="#"><img src="~/assets/fe/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/assets/fe/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/assets/fe/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/assets/fe/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/assets/fe/img/icon/star.svg" alt=""></a>
                                </div>
                                <p>3.8 Ratings</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--::blog_part end::-->