@using Engotalk.ViewModel
@{
    ViewData["Title"] = "Department";
    var Model = ViewBag.Departments as List<DepartmentVM>;
}
<link rel="stylesheet" href="~/css/DeptStyle.css" asp-append-version="true" />


<!--::review_part start::-->
<section class="special_cource padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <p>Select your goal</p>
                    <h2>DEPARTMENTS</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="whole-wrap mb-3">
    <div class="container box_1170">

        <div class="section-top-border">
            <div class="row">
                @if (@Model != null)
                {
                    @foreach (var group in Model.GroupBy(m => m.Department))
                    {

                        <div class="col-md-3 mb-5 mt-sm-30">
                            <h3 class="btn-custom d-block mb-20">
                                @group.Key
                            </h3>
                            <ul class="unordered-list unordered-custom-bg mt-2">
                                @foreach (var item in group)
                                {
                                    <li>
                                        <a class="course-name" asp-controller="Home" asp-action="Universities" asp-route-cid="@ViewBag.CountryId" asp-route-course="@item.Course"> @item.Course</a>

                                    </li>

                                }
                            </ul>
                        </div>
                    }
                }

            </div>
        </div>

    </div>
</div>
<!-- End Align Area -->

