@using Engotalk.Model
@model IEnumerable<CountryM>

<ul class="navbar-nav align-items-center">
    <li class="nav-item active">
        <a class="nav-link" asp-action="Index" asp-controller="Home" >Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Exam Library</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            IELTS Tips
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Listening Tips</a>
            <a class="dropdown-item" href="#">Reading Tips</a>
            <a class="dropdown-item" href="#">Writing Tips</a>
            <a class="dropdown-item" href="#">Speaking Tips</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Lessons</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Universities
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            @if(Model != null)
            {
                @foreach (var item in Model)
                {
                    <a class="dropdown-item" asp-controller="Home" asp-action="Departments" asp-route-cid="@item.CountryId" >@item.CountryName</a>
                }
            }
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="d-none d-lg-block">
        <a class="btn_1" href="#">Sign Up</a>
    </li>
</ul>