@using Engotalk.Model
@model IEnumerable<CountryM>

<ul class="navbar-nav align-items-center">
 
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Universities
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            @if(Model != null)
            {
                @foreach (var item in Model)
                {
                    <a class="dropdown-item" asp-controller="Home" asp-action="Departments" asp-route-cid="@item.CountryId" >@item.CountryName</a>
                }
            }
        </div>
    </li>
 
</ul>